<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{request.static_url('learning_journal:static/normalize.css')}}">
  <link rel="stylesheet" href="{{request.static_url('learning_journal:static/skeleton.css')}}">
  <title>Document</title>
</head>
<body>

  <header>
    <div>
      <h1>Hello World!</h1>
      <p>Welcome to my learning journal!</p>
      <nav>
        <ul>
          <li><a href="{{request.route_url('home')}}">Home</a></li>
          {% if request.authenticated_userid %}
          <li><a href="{{request.route_url('entries')}}">Entries</a></li>
          <li><a href="{{request.route_url('new')}}">New</a></li>
          <li><a href="{{request.route_url('logout')}}">Logout</a></li>
          {% else %}
          <li><a href="{{request.route_url('auth')}}">Sign-In</a></li>
          <li><a href="{{request.route_url('auth')}}">Sign-Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
  <main>
    {% block content %}
    <p>No content</p>
    {% endblock content %}
  </main>
</body>
</html>
